* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: rgb(227, 227, 227);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 450px;
    background-color: red;
    background-image: url('../img/degleex-ganzorig-wQImoykAwGs-unsplash.jpg');
    background-position:  left;
    background-repeat: no-repeat;
    background-size: cover;
}

#busca {
    background-color: white;
    margin: auto;
    margin-top: 20px;
    padding: 11px;
    width: 430px;
    height: 40px;
    border: 0px;
    border-radius: 10px;
}

h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5em;
    width: 300px;
    margin: 35px;
}

section {
    margin: 80px 0px;
}

#conteudo{
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    gap: 30px;
    margin: 30px 0px;
}

.conteudo-p {
    font-weight: 400;
}

.filho-conteudo {
    display: inline-block;
    background-color: rgb(255, 255, 255);
    height: 220px;
    border-radius: 10px;
}

.imgconteudo {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.espaco {
    display: flex;
    justify-content: space-between;
    padding: 7px;
    font-weight: bold;
}

.icones {
    width: 16px;
    margin-right: 5px;
}

footer {
    background-color: rgb(27, 27, 27);
    height: 130px;
}

#rodape {
    padding: 35px;
}

h2 {
    color: white;
}